  
body {
	background:#141414;
	color: #fff;
}

.header {
		background-image: linear-gradient(rgba(41, 0, 49, 0.486),
		rgba(243, 17, 224, 0.5)),
		url("assets/679462.jpg");
		background-repeat: repeat-y;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: 'Roboto Regular 400', sans-serif !important;
  }